/*================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
@import "mixins";

.form-control{
  border-radius: 0;
  &::placeholder{
    color: #333;
    opacity: 0.2;
  }
}
label {
  color: var(--primary);
}
.btn, .card{
  border-radius: 0 !important;
}

.collapse-title{
  color: #333;
  font-size: 1.3rem !important;
}
.collapse-default{
  .card{
    box-shadow: none;
    .card-header{
      padding: 1.3rem 2.8rem 1.3rem 1rem;
    }
  }
}

.color-badge{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 0.2rem 0.3rem;
  border: 0.2rem solid #fff;
  &:hover{
    box-shadow: 0 0 0 0.1rem #ccc;
  }
}

.breadcrumb-item {
  color: #00cfe8;
  a{
    color: #777;
    &:hover{ color: var(--primary); }
  }
  .active { color: var(--primary) !important; }
}
.breadcrumb-wrapper{
  padding: 1rem 0;
  border-bottom: 0.1rem solid hsla(0,0%,92.2%,.55);
  & .breadcrumb{
    padding: .3rem 0;
  }
}

.navbar-container{
  border-bottom: 1px solid rgba(235, 235, 235, 0.55);
}
.nav .dropdown-toggle:not(.active)::after{
  display: none;
}

.menu-options {
  grid-gap: 15px;
  color: #333;
  .user-account, .user-wishlist, .user-cart {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-gap: 5px;
    position: relative;
    cursor: pointer;
    transition: color .3s ease;
    .badge-primary{
      position: absolute;
      top: -7px;
      right: -7px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 17px;
      height: 17px;
      font-size: .7rem;
    }
    .wishlist-badge{ right: 7px; }
    p{ margin-bottom: 0; font-size: 1rem }
    &:hover{ color: var(--primary); }
  }
}

.btn{
  &-outline-primary{
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: center;
    grid-gap: 8px;
    transition: all .35s ease;
    &:hover{
      background-color: var(--primary) !important;
      cursor: pointer;
      & span, .feather{ color: white; }
    }
  }
}

.settings-tab{
  ul li{
    border-bottom: 1px solid #ebe9f1;
    .nav-link{
      padding: 1.3rem 0;
      position: relative;
      svg{
        position: absolute;
        opacity: 0;
        left: -20px;
        transition: all .3s;
        margin-bottom: 5px;
      }
      &.active{
        padding-left: 1.5rem;
        svg{ opacity: 1; left: 0; }
      }
    }
  }
}

.cart-btn {
  .cart-dropdown{
    width: 300px !important;
    transform: translate3d(-270px, 46px, 0) !important;
    padding: 1rem 0;
    .dropdown-cart-action{
      p{ font-size: 1.1rem; margin-bottom: 0; }
    }
  }
  .btn-secondary {
    border-color: transparent !important;
    background-color: transparent !important;
    padding: 0;

    &:hover {
      box-shadow: none !important;
    }

    & .user-cart {
      svg, p {
        color: #333;
      }

      &:hover {
        color: var(--primary);
      }
    }
  }
}
